%table.board
  = game.board_size.to_i
  - (1..game.board_size.to_i).each do |row|
    %tr
      - (1..game.board_size.to_i).each do |column|
        %td.board_cell{:data => {:x => column, :y => row}}
          - if group = groups.select { |g| g.stones.any? { |s| s.x_position == column && s.y_position == row } }.first
            - stone = group.stones.select { |s| s.x_position == column && s.y_position == row }.first

            = show_group_stone_and_liberty_counts(group)

            - if stone.is_white
              .stone.white
            - else
              .stone.black

          - elsif group = groups.select { |g| g.liberties.any? { |l| l[0] == column && [1] == row } }.first
          - else
            .stone