= form.text_field :username
= form.text_field :email
= form.password_field :password, :autocomplete => :off
= form.password_field :password_confirmation, :autocomplete => :off, :label => 'Confirm Password'
