table
  background: #ccc
  border-collapse: collapse
  tr
    td
      width: 30px
      height: 30px
      background: url(board_cell_bg.png) no-repeat left
      .group
        position: absolute
        font-size: 10px
        color: white
        z-index: 999
      .stone
        width: 20px
        height: 20px
        border-radius: 100px
        margin: 0 auto
        position: relative
        top: 0
        left: 5px
        &.white
          background: white
        &.black
          background: black
      &:hover
        .stone
          border: 1px solid red